*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}
.header{
  text-align: center;
  margin: 1rem;
}
.header > h3{
  font-size: 30px;
}
.image{
  display: block;
  height: auto;
  width: 100%;
  padding: 1rem;
}
.dr-example-container{
  margin: 5rem;
}
.dr-example-container > .row > .col2{
  text-align: center;
}
.dr-example-container > .row > .col2 > h4{
  font-size: 24px;
}
.footer{
  margin: 2rem;
  text-align: center;
  font-size: 16px;
}
.footer{
  display: grid;
  justify-content: center;
}
.footer > .name{
  color: blue;
}
.know{
  text-align: center;
}
@media screen and (max-width: 375px) {
  .header >h3{
    font-size: 16px;
  }
  .header > h4{
    font-size: 14px;
  }
  .dr-example-container > .row > .col2 > h4{
    font-size: 14px;
  }
  .footer{
    font-size: 14px;
  }
}